body {
  margin: 10px;
  background-color: #888e75;
}

h1 {
  font-family: "Nimbus";
  color: black;
  font-size: 18px;
  display: block;
  margin: 0;
  top: 0;
  position: fixed;
  width: 48%;
  margin-top: 10px;
  hyphens: auto;
  letter-spacing: -0.3px;

}


h1 span{
  background-color: none;
}

.italic {
  font-family: "Nimbus Italic";
}

h2 {
  font-family: "Nimbus";
  font-size: 14px;
  grid-column: 1;
  grid-row: 2;
  margin: 0px;
}


.conversations {
  font-family: "Nimbus";
  grid-column: 2;
  grid-row: 3;
}

.sources {
  font-family: "Nimbus";
  grid-column: 2;
  grid-row: 4;
}

.row {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px auto auto; 
  align-items: start;
  font-family: 'Nimbus';
  font-size: 14px;
  cursor: pointer;
}

.columns {
  grid-row: 2;
  grid-column: 2 / 3;
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: solid 0.25px black;
}

.hover {
  border-collapse: collapse;
}


th {
  padding-bottom: 10px;
}


td {
  padding-top:0px;
  overflow: hidden;
  position: relative;
}

.list tr {
  border-top: solid 0.25px black;
  height: 28px;
}

.sort {
  text-align: left;
}

.numb {
  width: 8%;
}

.buffer {
  padding-left: 8%;
  border-top: solid transparent;
}

.number{
  padding-left: 0px;
}

.names {
  width: 32%;
}

/* .name:after{
    content: " ....................................................................................................................... ";
    position: absolute;
    padding-left: 1px;
    letter-spacing: -1px;
} */

table {
  width: 100%;
}

.types {
  width: auto;
  white-space: pre;
  text-align: center;
}

.type {
  white-space: pre;
  text-align: center;
  font-size: 16px;
}

.typeOne {
width: 13%; 
white-space: pre;
}

.typeTwo {
width: 9%;  
white-space: pre;
}

.typeThree {
width: 7%;  
white-space: pre;
}

.typeFour {
width: 10%;  
white-space: pre;
}

.emptyType {
  opacity: 0;
}

.hide {
  display: none;
}

.hidden-row {
  font-family: 'Nimbus Italic';
  font-size: 14px;
  letter-spacing: -0.3px;
}

a {
  font-family: 'Nimbus';
  font-size: 20px;
  transform-origin: 36px 13px;
  padding-left: 30px;
  justify-self: end;  
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color: black;
  transform: rotate(180deg);
}

a:hover{
  transform: rotate(180deg);
}

a:active {
  text-decoration: none;
  color: rgb(12, 0, 241);
}