
/*add '/Document/' in front of font path when uploading to github*/

@font-face {
  font-family: "Nimbus";
  src: url("/Documentation/fonts/NimbusRomMonM.woff");
}

/*this is for live view*/
/*
@font-face {
  font-family: "Nimbus";
  src: url("./fonts/NimbusRomMonM.woff");
}
*/
@font-face {
  font-family: "Unica77";
  src: url("/Documentation/fonts/Unica77Regular.woff");
}

@font-face {
  font-family: "UnicaMono";
  src: url("/Documentation/fonts/Unica77LLMono-Regular.woff");
}


body {
  margin: 20px;
  display: grid;
}

h1 {
  font-family: "Nimbus";
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  grid-row: 1;
  /*text-shadow: 0 0 2px #000, 0 0 2px #000;*/
}


h1 span{
  background-color: none;
}

/*
.table-row-odd, .table-row-odd:hover {
  background-color: #e3f4ff !important;
}
*/
table {
  font-size: 16px;
  grid-row: 2-3;
  margin-top: 8px;
}

thead {
  font-family: 'Nimbus';
  font-size: 12pt;
  letter-spacing: 1px;
}

th {
  padding-bottom: 10px;
}

tbody tr {
  cursor: pointer;
  font-family: 'Nimbus';
  font-size: 12pt;
}

td {
  padding-top:0px;
  overflow: hidden;
  position: relative;
}

.sort {
  text-align: left;
  cursor: pointer;
}

.numb {
  font-family: 'Nimbus';
  width: 50px;
}
.number{
  width: 50px;
  padding-left: 0px;
}

.names {
  width: 300px;
}
.name:after{
    content: " ....................................................................................................................... ";
    position: absolute;
    padding-left: 1px;
    letter-spacing: -1px;
}


.types {
  width: 100px;
}
.type {
  width: 100px;
}

.hide {
  display: none;
  padding-left: 5px;
}

.hidden-row {
  font-family: 'Nimbus';
  font-size: 14px;
  letter-spacing: 1px;
}

a {
  display: inline-block;
  font-family: 'Nimbus';
  font-size: 20px;
  transform-origin: 36px 13px;
  padding-left: 30px;
  transition: all .3s ease-in-out;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color: black;
  transform: rotate(180deg);
}

a:hover{
  transform: rotate(180deg);
}

a:active {
  text-decoration: none;
  color: rgb(12, 0, 241);
}