/* PrePostPrint CSS Print framework */

/*-------------- VARIABLES ---------*/
/*EN — Change variable of the page width, page height, width and footer position*/
:root {
	--page-width: 155mm;
	--page-height: 230mm;
	/* Page margins */
	--page-margin: 0cm;
	/* Page counter position */
	--page-margin-left: 50px;

}

/*--------- GENERAL STYLE -------*/

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

img {
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

/* Add .print class to display html elements only for the print */
.print {
	display: none;
}

/* Add .screen class to display html elements only for the print */
.screen {
	display: none;
}



/*--------- PRINT STYLE -------*/

/* Media queries : Apply styles in relation of the reading support of the webpage */
@media print {
	@page {
		/* choosse the size of the pdf output */
		size: 210mm 297mm;
		margin: 0;
	}

	body {
		margin: 0;
		padding: 0;
		/* Set a page counter */
		counter-reset: page-counter;
	}
	
/* Page settings */

	.page {
		width: 210mm;
		height: 297mm;
		break-after: always;
		position: relative;
		overflow: hidden;
	} 

/* crop marks */

	.crop {
		display: flex;
		width: 165mm;
	}

	.tl {
		position: relative;
		width: 5mm;
		height: 5mm;
		top: 0mm;
		left: 0mm;
		border-right: 0.25mm solid black;
		border-bottom: 0.25mm solid black;
	}

	.tr {
		position: relative;
		width: 5mm;
		height: 5mm;
		top: 0mm;
		left: 155mm;
		border-left: 0.25mm solid black;
		border-bottom: 0.25mm solid black;
	}

	.bl {
		position: relative;
		width: 5mm;
		height: 5mm;
		left: 0mm;
		border-right: 0.25mm solid black;
		border-top: 0.25mm solid black;
	}

	.br {
		position: relative;
		width: 5mm;
		height: 5mm;
		left: 155mm;
		border-left: 0.25mm solid black;
		border-top: 0.25mm solid black;
	}

/* Layout */

	.layout{
		display: grid;
		height: 222mm;
		width: 145mm;
		/* border: 1px dotted rgba(0, 0, 0, 0.4); */
		margin-top: 4mm;
		margin-bottom: 4mm;
		position: relative;
	}

	.left{
		margin-left: 11mm;
		margin-right: 9mm;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: 5mm 130mm 1fr 1fr;
	}

	.right{
		margin-left: 11mm;
		margin-right: 9mm;
		grid-template-columns: repeat(4, 23.5%);
		column-gap: 2%;
		grid-template-rows: 5mm 130mm 1fr 1fr;
	}

	/* Header settings */
	.header{
		font-size: 6pt;
		font-family: 'Fragment Mono';
		text-transform: uppercase;
		grid-row: 1;
		/* margin-top: 7vh; */
	}

	.hTitle {
		justify-self: end;
		white-space: nowrap;
		overflow: visible;
		grid-column: 2 / 3;
	}

	.cTitle {
		grid-column: 3 / 4;
		padding-left: 10mm;
	}

/* System */


/* Interaction settings */

.interaction {
	height: fit-content;
	width: fit-content;
	align-self: top;
	grid-column: 4;
	text-align: right;
	width: 100%;
}

.button {
  	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	align-self: top;
}

.button:hover {
  -webkit-text-stroke: 1px;
}


.input{
	font-family: 'Fragment Mono';
	font-size: 7pt;
	grid-row: 4;
	text-transform: uppercase;
	position: absolute;
	margin-top: -0.8vh;
	margin-left: 25pt;
	cursor: text;
}

#input:empty:before {
  content: attr(placeholder);
  color: #aaa;
  pointer-events:stroke;
}
#input {
  padding: 8px;
  min-height: 20px;
}

.time {
	display: none;
}

/* Copy space */

.copyText {
	grid-column: 2;
	grid-row: 1 / 4;
	font-size: 7pt;
	font-family: 'Fragment Mono';
	text-transform: uppercase;
	align-content: end;
	margin-bottom: 7pt;
}

.copyDate {
	grid-column: 3;
	grid-row: 1 / 4;
	font-size: 7pt;
	font-family: 'Fragment Mono';
	text-transform: uppercase;
	align-content: end;
	margin-bottom: 7pt;
}


/* Paragraph settings */
	p {
		margin: 0;
    	padding: 0;
	}

	.text {
		font-size: 10pt;
		font-family: 'Fragment Mono';
		line-height: 10.5pt;		
		hyphens: auto;	

	}

	.tLeft{
		grid-column: 2 / 5;
		height: 51vh;
		width: 150%;
		overflow: hidden;
		grid-row: 2 / 3;
		position: relative;
	}

	.pIndent {
		padding-left: 10mm;
	}

	.line {
		font-size: 7pt;
		font-family: 'Fragment Mono';
		text-transform: uppercase;
		grid-row: 4;
	}


	/* Add counter to page */
	.page-number {
  	align-self: start;
  	justify-self: start;
  	counter-increment: page-counter;
  	content: + counter(page-counter); /* js */
	}

	/* Place the page counter at the right for the right pages */
	.page:nth-child(even) .page-number {
  	grid-column: 1;
	}

	/* Place the page counter at the left for the left pages */
	.page:nth-child(odd) .page-number {
  	grid-column: 4;
  	justify-self: end;
	}

	.firstPage{
		display: none;
	}


}
