/* PrePostPrint CSS Print framework */

/*-------------- VARIABLES ---------*/
/*EN — Change variable of the page width, page height, width and footer position*/
:root {
	--page-width: 155mm;
	--page-height: 230mm;
	/* Page margins */
	--page-margin: 0cm;
	/* Page counter position */
	--page-margin-left: 50px;

}

/*--------- GENERAL STYLE -------*/

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

img {
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

/* Add .print class to display html elements only for the print */
.print {
	display: block;
}

/* Add .screen class to display html elements only for the print */
.screen {
	display: none;
}



/*--------- PRINT STYLE -------*/

/* Media queries : Apply styles in relation of the reading support of the webpage */
@media print {
	@page {
		/* choosse the size of the pdf output */
		size: 155mm 230mm;
  		margin: 0;

	}

	body {
		margin: 0;
		padding: 0;
		/* Set a page counter */
		counter-reset: page-counter;
	}

	/* Page settings */

	.page {
		width: var(--page-width);
		height: var(--page-height);
		padding: var(--page-margin);
		break-after: always;
		position: relative;
		border: 1px dashed white;
		overflow: hidden;
	}

	/* Layout */
	.layout{
		display: grid;
		height: 222mm;
		/* border: 1px dotted rgba(0, 0, 0, 0.4); */
		margin-top: 4mm;
		margin-bottom: 4mm;
		position: relative;
	}


	.left{
		margin-left: 4mm;
		margin-right: 6mm;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: 2% 57vh 15.6vh 1fr;
	}

	.right{
		margin-left: 6mm;
		margin-right: 4mm;
		grid-template-columns: repeat(4, 23.5%);
		grid-template-rows: 2% 57vh 15.6vh 1fr;
		column-gap: 2%;
	}

	/* Header settings */
	.header{
		font-size: 6pt;
		font-family: 'Publico';
		text-transform: uppercase;
		grid-row: 3;
		margin-top: 7vh;
	}

	.hTitle {
		justify-self: end;
		white-space: nowrap;
		overflow: visible;
		grid-column: 2 / 3;
	}


	.cTitle {
		grid-column: 3 / 4;
		padding-left: 10mm;
	}

/* System */
/* System */
	.boxOne {
		grid-column: 3;
		grid-row: 2;
  		position: relative;
		align-self: end;
	}

	.one {
		grid-column: 3;
		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		aspect-ratio: 1 / 1;
		margin-top: -300%;
  		background-color: blue;
	}
	
	.boxTwo {
		grid-column: 2;
		grid-row: 2;
  		position: relative;
		align-self: end;
	}

	.two {
		grid-column: 3;
		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		aspect-ratio: 1 / 1;
		margin-top: -200%;
  		background-color: blue;
	}

	.boxThree {
		grid-column: 1;
		grid-row: 2;
  		position: relative;
		align-self: end;
	}

	.three {
		grid-column: 3;
		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		aspect-ratio: 1 / 1;
		margin-top: -100%;
  		background-color: blue;
	}


/* Interaction settings */
	.main {
		font-size: 1100pt;
		font-family: 'Publico';
		overflow: hidden;
		grid-column: 1 / 4;	
		position: absolute;
		margin-left: 0mm;
		margin-top: -130mm;
	}

	.main canvas {
   		width: 100%;
    	height: 100%;
  }

  .change {
	margin-right: 8px;
  }

  	.change canvas {
  		pointer-events: none;
  		vertical-align: middle;
		position: absolute;
		margin-top: -17px;
		margin-left: -2px;
}

	.pTitle{
		font-family: 'Publico';
		font-size: 14pt;
		text-transform: uppercase;
		grid-row: 3;
		position: absolute;
		margin-top: 6vh;
		margin-left: 15pt;
	}

/* Paragraph settings */
	p {
		margin: 0;
    	padding: 0;
	}

	.text {
		font-size: 6.5pt;	
		font-family: 'Publico';
		text-transform: uppercase;
		text-align: justify;
		line-height: 9pt;	
		hyphens: auto;	
	}

	.tLeft{
		grid-column: 1 / 3;
		margin-top: -3.8vh;
		height: 60.8vh;
		overflow: hidden;
		grid-row: 2 / 3;
		position: relative;
	}
	.tRight{
		grid-column: 3 / 5;
		height: 60.8vh;
		margin-top: -3.8vh;
		overflow: hidden;
		grid-row: 2 / 3;
		position: relative;
	}

	.bLeft{
		grid-column: 1 / 3;
		height: 57vh;
		overflow: hidden;
		grid-row: 4 / 5;
		position: relative;
	}
	.bRight{
		grid-column: 3 / 5;
		height: 57vh;
		overflow: hidden;
		grid-row: 4 / 5;
		position: relative;
	}

		.pIndent {
		padding-left: 10mm;
	}


	/* Add counter to page */
	.page-number {
  	align-self: start;
  	justify-self: start;
  	counter-increment: page-counter;
  	content: + counter(page-counter); /* js */
	}

	/* Place the page counter at the right for the right pages */
	.page:nth-child(even) .page-number {
  	grid-column: 1;
	}

	/* Place the page counter at the left for the left pages */
	.page:nth-child(odd) .page-number {
  	grid-column: 4;
  	justify-self: end;
	}

	.firstPage{
		display: none;
	}


}
